<a href="https://colab.research.google.com/github/gurpreetkaur2309/BASIC-PYTHON-PROGRAMS/blob/main/internal1_gurpreet_kaur_khanuja_IT_2K21_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

"""arithmetic and logical,relation operator"""

num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
print("sum of two numbers is",num1+num2)
print("multiplication of two numbers is",num1*num2)
print("subtraction of two numbers is",num1-num2)
print("division of two numbers is",num1/num2)
if num1>num2:
 print(num1, "is greater than " ,num2)
else:
 print(num2,"is greater than ",num1)
if num1<num2:
 print(num1, "is less than " ,num2)
else:
 print(num2,"is less than ",num1)
a=bin(num1)
b=bin(num2)
print(a)
print(b)

In [ ]:
"""even or odd"""
num1=int(input("enter the number"))
if num1%2==0:
  print(num1,"is a even number")
else:
  print(num1,"is a odd number")

enter the number78
78 is a even number

In [ ]:
#greatest of two numbers

num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
if num1>num2
 print(num1,"is the greatest number")
else 
  print(num2,"is greatest number")
if num1<num2
 print(num1,"is the smallest number")
else 
  print(num2,"is smallest number")

In [ ]:
#greatest of three numbers
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
num3=int(input("enter the third number"))
if num1>num2:
  if num1>num3:
    print(num1,"is the greatest number")
else: 
   if num2>num3:
    print(num2,"is greatest")
   else:
    print(num3,"is greatest")

enter the first number22
enter the second number23
enter the third number25
25 is greatest

In [ ]:
#prime or composite
num=int(input("enter the number"))
flag=0
for i in range(2,num,1):
   if num%i==0:
    flag=1
if flag==1:
  print(num," is composite")   
else :
 print(num," is prime")

enter the number13
13  is prime

In [ ]:
#odd number in a range
lower_limit=int(input("enter the lower limit till you want odd number"))
upper_limit=int(input("enter the uppar limit"))
for i in range(lower_limit,upper_limit+1):
 if i%2!=0:
   print(i)
print("these are odd number")

enter the lower limit till you want odd number3
enter the uppar limit10
3
5
7
9
these are odd number

In [ ]:
# prime number in a range

lower_limit=int(input("enter the lower limit till you want prime number"))
upper_limit=int(input("enter the uppar limit"))
flag=0
for i in range(lower_limit,upper_limit+1,1):
   for j in range(2,i,1):
      if i%j==0:
        break;
   else:
       print(i)

enter the lower limit till you want prime number10
enter the uppar limit30
11
13
17
19
23
29

In [ ]:

#reverse of a number
num=input("enter the number")
n=len(num);
num=int(num)
rev=0
for i in range (1,n+1):
 rem=num%10
 num=num//10
 rev=rev*10+rem
print("reverse of a number is ",rev)

enter the number12345
reverse of a number is  54321

In [ ]:
#pallindrome or not
num=input("enter the number")
n=len(num);
num=int(num)
rev=0
a=num
for i in range (1,n+1):
 rem=num%10
 num=num//10
 rev=rev*10+rem
if a==rev:
 print(a,"is a pallindrome")
else:
  print(a,"is not a pallindrome")

enter the number12345
12345 is not a pallindrome

In [ ]:
#armstrong number 
num=input("enter the number")
n=len(num);
num=int(num)
temp=int(num)
arm=0
for i in range (1,n+1):
 rem=num%10
 num=num//10
 arm=arm+rem**n
print(arm)
if temp==arm:
  print("it is armstrong number")
else :
  print("it is not a armstrong number")

enter the number153
153
it is armstrong number

In [ ]:
#armstrong number in a range
lower_limit=int(input("enter the lower limit"))
upper_limit=int(input("enter the upper limit"))
for i in range(lower_limit,upper_limit+1):
  n=len(str(i));
  num=int(i)
  arm=0
  temp=int(i)
  for j in range(1,n+1):
    rem=num%10
    num=num//10
    arm=arm+rem**n
  if temp==arm:
    print(arm)

enter the lower limit1
enter the upper limit200
1
2
3
4
5
6
7
8
9
153

In [ ]:
#sum of first n natural number
num=int(input("ENTER THE NUMBER"))
sum=0
for i in range(1,num+1):
  sum=sum+i
print("sum of first",num,"natural number is",sum)

ENTER THE NUMBER10
sum of first 10 natural number is 55

In [ ]:
#factorial of a given number
num=int(input("enter the number"))
fact=1
for i in range(1,num+1):
 fact=fact*i
print("factorial is",fact)

enter the number5
factorial is 120

In [ ]:
 #fibonacci series upto n term 
 num=int(input("enter the number"))
 fibo=0
 fiboo1=1
 sum=0
 if (num==1):
  print(fibo)
 if (num==2):
  print(fibo,fiboo1)
 if(num>2):
   print(fibo)
   print(fiboo1)
   for i in range(2,num):
     sum=fibo+fiboo1
     fibo=fiboo1
     fiboo1=sum

     print(sum)

enter the number7
0
1
1
2
3
5
8

In [ ]:
#leap year or not
num=int(input('enter the number'))
unit_place=num%10
num=num//10
ten_place=num%10
num=num*10+unit_place
if (unit_place==0 and ten_place==0):
   if (num%400==0):
     print("leap year")
   else:
    print("not a leap year")
elif(num%4==0):
    print("leap year")
else:
  print("not a leap year")

enter the number2024
leap year

In [ ]:
#celsius and farenheit temperature conversion
celcius=float(input("enter the temperature in celsius "))
fren=(celcius*1.8)+32
print("temperature in farenheit is",fren)
fren=float(input("enter the temperature in ferenheit"))
celcius = fren - 32
celcius=celcius/1.8
print("temperature in celcius is ",celcius)

enter the temperature in celsius 27
temperature in farenheit is 80.6
enter the temperature in ferenheit80.6
temperature in celcius is  26.999999999999996

In [ ]:
#factor of a number
num=int(input("enter the number"))
def numf():
 print(1)
 for i in range(2,num):
  if(num%i==0):
   print(i)
 print(num) 
 return(num)
print("these are factor of",numf())

enter the number32
1
2
4
8
16
32
these are factor of 32

In [ ]:
#conversion of decimal to binary,octal,hexadecimal;
num=int(input("enter the decimal number"))
binary=bin(num);
print("binary is ",binary)
octal=oct(num);
print("octal of ",num, "is ",octal)
hexadecimal=hex(num);
print("hexadecimal of",num ,"is",hexadecimal)

enter the decimal number4
binary is  0b100
octal of  4 is  0o4
hexadecimal of 4 is 0x4

In [ ]:
# factorial of a program using function
def factorial(n):
  i=n
  f=1
  if n>0:
    while i>1:
      f=f*i
      i=i-1
  return f 
n=int(input("enter the number"))
print("factorial of  ",n,"is",factorial(n))

enter the number5
factorial of   5 is 120

In [ ]:
#from os import SF_NODISKIO
#fibonacci using recursion
num=int(input("enter the number of terms in series"))
fnum=0
snum=1
p=num-2
result=0
def rfibonacci(p):
 if num==2:
   return 1
 else:
   return(rfibonacci(p-1)+rfibonacci(p-2))
if num==1:
  print(fnum)
elif num==2:
  print(fnum)
  print(snum)
elif num>2:
  print(fnum)
  print(snum)
  print(rfibonacci(p))

enter the number of terms in series5
0
1

RecursionError: ignored

In [ ]:
# fibonacci series using recursion
def rfactorial(n):
  if n==1:
    return 1
  else:
    return(n*rfactorial(n-1))
n=int(input("enter the number"))
print("factorial is",rfactorial(n))

enter the number5
factorial is 120

In [ ]:

# lambda function for power of 2
n=int(input ('enter the power of 2 '))
power=lambda n:(2)**n
print("2 raised to",n,"is",power(n))

enter the power of 2 5
2 raised to 5 is 32

In [ ]:
#lambda function voulume of cylinder 
r=int(input("enter the radius of cylinder"))
h=int(input("enter the height of cylinder"))
volume=lambda r,h:3.14*r*r*h
print("volume of cylinder is",volume(r,h))
# for area of triangle
s1=int(input("enter the side 1 of triangle"))
s2=int(input("enter the side 2  of triangle"))
s3=int(input("enter the side 3 of triangle"))
semip=(s1+s2+s3)/2
area=lambda s1,s2,s3,semip:(semip*(semip-s1)*(semip-s2)*(semip-s3))**0.5
print("area of triangle is",area(s1,s2,s3,semip))
# for area of circle
r=int(input("enter the radius of the circle"))
areac=lambda r:(3.14*r*r) 
print("area of circle is",areac(r))
# for area of cylinder 
r=int(input("enter the radius of cylinder"))
h=int(input("enter the height of cylinder"))
areacy=lambda r,h:2*3.14*r*h
print("area of cylinder",areacy(r,h))

enter the radius of cylinder2
enter the height of cylinder2
volume of cylinder is 25.12
enter the side 1 of triangle12
enter the side 2  of triangle13
enter the side 3 of triangle15
area of triangle is 74.83314773547883
enter the radius of the circle5
area of circle is 78.5
enter the radius of cylinder5
enter the height of cylinder2
area of cylinder 62.800000000000004

In [ ]:
# add two matrices
l1=[]
for x in range (0,3):
 a=[]
 for y in range (0,3):
     a.append(int(input()))
 l1.append(a)
l2=[]
for x in range (0,3):
 b=[]
 for y in range (0,3):
     b.append(int(input()))
 l2.append(b)
for x in range (0,3):
 for y in range (0,3):

   print(l1[x][y],end="  ")

 print()
for x in range (0,3):
 for y in range (0,3):

   print(l2[x][y],end="  ")
 print()


sum=[]
for x in range (0,3):
 a3=[]
 for y in range (0,3):
     p=l1[x][y]+l2[x][y]
     a3.append(p)

 sum.append(a3)
for x in range (0,3):
  for y in range(0,3):
    print(sum[x][y],end="  " )
  print()

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1  2  3
4  5  6
7  8  9
1  2  3
4  5  6
7  8  9
2  4  6
8  10  12
14  16  18

In [ ]:
#transpose of a matrix
l1=[]
for x in range(0,3):
 a=[]
 for y in range(0,3):
     a.append(int(input()))
 l1.append(a)
for x in range (0,3):
  for y in range (0,3):
    print(l1[x][y],end="  ")
  print()
l2=[]
for x in range(0,3):
   a3=[]
   for y in range(0,3):
     a3.append(l1[y][x])
   l2.append(a3)
print("transpose of matrice is")
#for x in range (0,3):
 # for y in range (0,3):
  #  print(l2[x][y],end="  ")
  #print()
print(l2)

1
2
3
4
5
6
7
8
9
1  2  3
4  5  6
7  8  9
transpose of matrice is
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# average of a numeric list
l=[]
n=int(input("enter the size of list"))
for i in range(0,n):
  l.append(int(input()))
average=sum(l)/n
print("average is",average)

enter the size of list3
10
20
30
average is 20.0

In [ ]:
# slice operation
i=[]
for j in range(0,10):
  i.append(int(input()))
print(i[0:])
print(i[9::-1])
print(i[3:9])
print(i[3:])
print(i[3: :2])
print(i[ : :-2])

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9, 10]
[4, 6, 8, 10]
[10, 8, 6, 4, 2]

In [ ]:
#concatinate two list
l1=[1,2,3,4,5]
l2=[2,3,6,7,8]
print(l1+l2)
l1.extend(l2)
print(l1)
for i in l2:
  l1.append(l2)
print(l1)

[1, 2, 3, 4, 5, 2, 3, 6, 7, 8]
[1, 2, 3, 4, 5, 2, 3, 6, 7, 8]

In [ ]:
# square of element of list
L=(1,2,3,4,5,6)
r=tuple(map(lambda x: x*x , L))
print(r)

(1, 4, 9, 16, 25, 36)

In [ ]:
#index of a element and number of occcurence 
l=[1,2,3,4,5,6,5,4,3,4,5,4,5]
index=l.index(3)
count=l.count(3)
print("3 is occured at index",index,"count=",count)

3 is occured at index 2 count= 2

In [ ]:
#duplicate in a list
l=[2,3,4,4,5,6,7,5,4,4,5]
uni_list=[]
dup_list=[]
for i in l:
  if i not in uni_list:
    uni_list.append(i)
  elif i not in dup_list:
    dup_list.append(i)

print(dup_list)

[4, 5]

In [ ]:
# iterate over dictionary using for loop
dict={"name":"rohan","age": 16 ,"status": "sin"}
keys=dict.keys()
print(keys)
values=dict.values()
print(values)
item=dict.items()
print(item)
# with for loop 
print("keys are")
for i in dict:
  print(i)
print("values are")
for i in dict.values():
  print(i)
print("items are")
for i in dict.items():
  print(i)
for i in dict:
  print(i ,":",dict[i])

dict_keys(['name', 'age', 'status'])
dict_values(['rohan', 16, 'sin'])
dict_items([('name', 'rohan'), ('age', 16), ('status', 'sin')])
keys are
name
age
status
values are
rohan
16
sin
items are
('name', 'rohan')
('age', 16)
('status', 'sin')
name : rohan
age : 16
status : sin

In [ ]:
# nested dictionary
dict1={"class1": {"name" :"nonu","age":5} ,"class2":{"name":"nainsi","age":10}}
print(dict1)
print(dict1["class1"]["age"])
print(dict1["class2"]["age"])
print(dict1["class1"]["name"])
print(dict1["class2"]["name"])
# add a element in  dictionary 
dict1["class3"]={}
dict1["class3"]["name"]="sangeeta"
dict1["class3"]["age"]=78
print(dict1)
dict1["class4"]={"name":"sujal","age":56}
print(dict1)
#delete
del dict1["class4"]
print(dict1)

{'class1': {'name': 'nonu', 'age': 5}, 'class2': {'name': 'nainsi', 'age': 10}}
5
10
nonu
nainsi
{'class1': {'name': 'nonu', 'age': 5}, 'class2': {'name': 'nainsi', 'age': 10}, 'class3': {'name': 'sangeeta', 'age': 78}}
{'class1': {'name': 'nonu', 'age': 5}, 'class2': {'name': 'nainsi', 'age': 10}, 'class3': {'name': 'sangeeta', 'age': 78}, 'class4': {'name': 'sujal', 'age': 56}}
{'class1': {'name': 'nonu', 'age': 5}, 'class2': {'name': 'nainsi', 'age': 10}, 'class3': {'name': 'sangeeta', 'age': 78}}

In [ ]:
#sorted dictionary
dict1={1:"nonu",5:"sonu",3:"monu",4:"kanu"}
sorted_d= sorted(dict1.values())   
print(sorted_d)

TypeError: ignored